button {
  &:focus {
    outline: 0 !important;
  }
  border: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.t-base {
  transition: all .2s ease-out;
}

.btn-circle {
  span {
    color: $primary;
    font-size: 36px;
    line-height: 52px;
    pointer-events: none;
    user-select: none;
  }
  &:hover, &:active {
    background: #F0E0B9;
  }
  background: $secondary;
  border-radius: 999px;
  height: 52px;
  width: 52px;
  transition: $t-base;
}

.btn-rectangle {
  &:hover, &:active {
    font-size: 20px;
    color: $primary;
    font-weight: bold;
    background: #F0E0B9;
    border-color: $primary;
  }
  border: 3px solid $primary;
  border-radius: 999px;
  background: transparent;
  color: $primary;
  font-weight: bold;
  font-size: 20px;
  transition: $t-base;
  height: 52px;
}