button, textarea, input {
  &:focus {
    outline: 0 !important;
  }
  border: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.t-base {
  transition: all .2s ease-out;
}

.btn-circle {
  span {
    color: $primary;
    font-size: 36px;
    line-height: 52px;
    pointer-events: none;
    user-select: none;
    display: inline-block;
  }
  &:hover, &:active, &.active {
    background: #F0E0B9;
  }
  align-items: center;
  background: $secondary;
  border-radius: 999px;
  display: flex;
  height: 52px;
  justify-content: center;
  transition: $t-base;
  width: 52px;
}

.btn-rectangle {
  &:hover, &:active {
    font-size: 20px;
    color: $primary;
    font-weight: bold;
    background: #F0E0B9;
    border-color: $primary;
  }
  align-items: center;
  background: transparent;
  border-radius: 999px;
  border: 3px solid $primary;
  color: $primary;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 52px;
  justify-content: center;
  transition: $t-base;
}

.header {
  p {
    color: $secondary;
    flex-shrink: 0;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  padding-top: 16px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
  width: 100%;
}

.function-menu {
  li {
    &:last-child {
      button {
        &:after {
          content: normal;
        }
      }
    }
  }
  button {
    &:hover, &:active {
      background-color: $tertiary;
    }
    &::after {
      background-color: $primary;
      bottom: 0;
      content: "";
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 90px;
    }
    background-color: transparent;
    color: $primary;
    font-size: 18px;
    font-weight: bold;
    height: 52px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    transition: $t-base;
    width: 100%;
  }
  background-color: $secondary;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 999;
  padding: 0;
  position: absolute;
  right: 0;
  top: 65px;
  width: 120px;
}

.toast-container .toast {
  &.hint, &.hint .toast-header {
    background-color: rgb(252, 193, 84);
    color: rgb(47, 47, 47);
  }
  &.success, &.success .toast-header {
    background-color: rgb(62, 167, 80);
    color: rgb(255, 255, 255);
  }
  &.error, &.error .toast-header {
    background-color: rgb(219, 62, 62);
    color: rgb(255, 255, 255);
  }
}

.main-wrap {
  position: relative;
  overflow: hidden;
}

button {
  touch-action: manipulation;
}

.modal {
  .modal-header {
    h5 {
      color: $primary;
      font-weight: bold;
      font-size: 20px;
    }
    .close {
      &:hover {
        background: $tertiary;
      }
      span {
        color: $primary;
        font-size: 36px;
        padding: 0;
        line-height: 36px;
      }
      background: $secondary;
      border: 0;
      height: 52px;
      padding: 8px;
      position: relative;
      right: -12px;
      width: 52px;
      transition: $t-base;
    }
    border: 0;
    height: 69px;
    position: relative;
  }
  .modal-content {
    background: $secondary;
    border-radius: 20px;
  }
  .modal-footer {
    button {
      border-radius: 999px;
      color: $secondary;
      font-size: 20px;
      font-weight: bold;
      height: 52px;
      width: 150px;
    }
    border: 0;
    justify-content: space-between;
  }
}

.menu-layout {
  padding-top: 66px;
}

.scroll-bar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: $secondary;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-button {
    background-color: $primary;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e7d6ac;
    border-radius: 20px;
  }
}

.slide-up-window {
  p {
    font-size: 20px;
    font-weight: bold;
    color: $primary;
    margin-bottom: 20px;
  }
  input {
    height: 52px;
    width: 100%;
    border-radius: 999px;
    border: 3px solid $primary;
    background: transparent;
    text-indent: 20px;
    font-size: 20px;
    font-weight: bold;
    color: $primary;
  }
  .close-btn {
    &:hover {
      background-color: $tertiary;
    }
    span {
      color: $primary;
      line-height: 52px;
    }
    background-color: transparent;
    border-radius: 999px;
    height: 52px;
    position: absolute;
    right: 20px;
    top: 8px;
    transition: $t-base;
    width: 52px;
  }
  .btn-group {
    button {
      &.active {
        background: $primary;
        color: $secondary;
      }
      &:first-child {
        margin-right: 20px;
      }
      width: 170px;
    }
    .cancel-btn {
      &:hover {
        background-color: darken(#9f9684, 10%);
      }
      background-image: linear-gradient();
      background-color: #9f9684;
      color: $secondary;
      border: 0;
      margin-top: 20px;
    }
    .apply-btn {
      &:hover {
        background-position: 0 0;
      }
      background: linear-gradient(
          90deg,
          $primary 0%,
          $primary 50%,
          $secondary 110%
        )
        100% 0 / 200%;
      border: 0;
      color: $secondary;
      margin-top: 20px;
    }
    display: flex;
    justify-content: flex-start;
  }
  .status-group {
    justify-content: flex-end;
  }
  hr {
    height: 0;
    border-top: 1px dashed #9f9684;
  }
  &.active {
    bottom: 0;
  }
  background-color: $secondary;
  border-radius: 20px 20px 0 0;
  bottom: -400px;
  height: 400px;
  padding: 24px 28px 25px 28px;
  position: absolute;
  text-align: left;
  transition: $t-base;
  width: 100%;
}

.function-menu {
  button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  box-shadow: 4px 0px 16px rgba(68, 153, 102, 0.5);
  opacity: 1;
}

.ellipsis {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}