button, textarea, input {
  &:focus {
    outline: 0 !important;
  }
  border: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.t-base {
  transition: all .2s ease-out;
}

.btn-circle {
  span {
    color: $primary;
    font-size: 36px;
    line-height: 52px;
    pointer-events: none;
    user-select: none;
    display: inline-block;
  }
  &:hover, &:active, &.active {
    background: #F0E0B9;
  }
  align-items: center;
  background: $secondary;
  border-radius: 999px;
  display: flex;
  height: 52px;
  justify-content: center;
  transition: $t-base;
  width: 52px;
}

.btn-rectangle {
  &:hover, &:active {
    font-size: 20px;
    color: $primary;
    font-weight: bold;
    background: #F0E0B9;
    border-color: $primary;
  }
  align-items: center;
  background: transparent;
  border-radius: 999px;
  border: 3px solid $primary;
  color: $primary;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 52px;
  justify-content: center;
  transition: $t-base;
}

.header {
  p {
    color: $secondary;
    flex-shrink: 0;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  padding-top: 16px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px;
  width: 100%;
}

.function-menu {
  padding: 0;
  position: absolute;
  right: 0;
  top: 65px;
  width: 120px;
  z-index: 999;
}

.function-menu {
  li {
    &:last-child {
      button {
        &:after {
          content: normal;
        }
      }
    }
  }
  button {
    &:hover, &:active {
      background-color: $tertiary;
    }
    &::after {
      background-color: $primary;
      bottom: 0;
      content: "";
      height: 1px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 90px;
    }
    background-color: transparent;
    color: $primary;
    font-size: 18px;
    font-weight: bold;
    height: 52px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    transition: $t-base;
    width: 100%;
  }
  background-color: $secondary;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 9999;
}

.toast-container .toast {
  &.hint, &.hint .toast-header {
    background-color: rgb(252, 193, 84);
    color: rgb(47, 47, 47);
  }
  &.success, &.success .toast-header {
    background-color: rgb(62, 167, 80);
    color: rgb(255, 255, 255);
  }
  &.error, &.error .toast-header {
    background-color: rgb(219, 62, 62);
    color: rgb(255, 255, 255);
  }
}

.main-wrap {
  position: relative;
  overflow: hidden;
}

button {
  touch-action: manipulation;
}

.modal {
  .modal-header {
    h5 {
      color: $primary;
      font-weight: bold;
      font-size: 20px;
    }
    .close {
      &:hover {
        background: $tertiary;
      }
      span {
        color: $primary;
        font-size: 36px;
        padding: 0;
        line-height: 36px;
      }
      background: $secondary;
      border: 0;
      height: 52px;
      padding: 8px;
      position: relative;
      right: -12px;
      width: 52px;
      transition: $t-base;
    }
    border: 0;
    height: 69px;
    position: relative;
  }
  .modal-content {
    background: $secondary;
    border-radius: 20px;
  }
  .modal-footer {
    button {
      border-radius: 999px;
      color: $secondary;
      font-size: 20px;
      font-weight: bold;
      height: 52px;
      width: 150px;
    }
    border: 0;
    justify-content: space-between;
  }
}

.menu-layout {
  padding-top: 66px;
}

.scroll-bar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: $secondary;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-button {
    background-color: $primary;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e7d6ac;
    border-radius: 20px;
  }
}